body{
    margin: 0px;
    padding: 0px;
    background-color: lightgoldenrodyellow;
}
.my-form{
    margin-top: 2em;
    margin-left: 2em;
    width: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 98%;
    height: 40%;
    border-top: 1px solid red;
    margin-left: 1em;
    margin-top: 2em;
    margin-right: 1em;
}
input{
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     width: 150px;
     background-color: silver;
}
button{
    background-color: seagreen;
    border-radius: 0.5em;
    height: 30px;
    width: 100px;
    margin-top: 0.5em;
}
